@import 'global';
@import 'animations';
.navbar {
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    .hamburger {
      display: none;
      .line { 
        width: 30px;
        height: 3px;
        background-color: var(--primary);
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);

        .line {
          &:nth-child(2) {
            width: 0px;
          }

          &:nth-child(1), &:nth-child(3) {
            transition-delay: 0.3s;
          }

          &:nth-child(1) {
            transform: translateY(6.5px);
          }

          &:nth-child(3) {
            transform: translateY(-15px) rotate(90deg);
          }
        }
      }
    }

    .brand-name img {
      width: 120px;
      height: 80px;
      object-fit: contain;
    }

    .navbar-nav {
      flex-direction: row;

      .nav-item {
        margin: 0px 10px;

        .nav-link {
          color: #000;
          font-size: 18px;
          position: relative;
          font-weight: 700;

          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #f7941d;
            border-radius: 5px;
            bottom: -10px;
            left: 0;
            z-index: -1;
            transform: scale(0);
            transition: all .4s linear;
          }
        }
      }
    }
  }
}

header {
  width: 100%;
  padding: 60px 0px;
  background: #071828 url('../images/header_pattern.png') top left / contain no-repeat;
  background-color: #071828;
  position: relative;
  z-index: 9;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      color: var(--primary);
      font-size: 35px;
      font-weight: 900;
      margin: 0px;
      line-height: 2.5rem;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      margin: 20px 0px;
      line-height: 2.5rem;
    }
  }

  .image-content {
    width: 100%;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.about-us {
  width: 100%;
  padding: 50px 0px 50px 0px;
  background-color: rgba($color: #f7941d, $alpha: .01);

  .heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: unset !important;

    h1 {
      margin: unset !important;
    }

    p {
      margin: 20px 0px !important;
      text-align: unset;
    }

    .list-data {
      width: 100%;
      margin: 20px 0px;

      li {
        width: fit-content;
        padding-inline-start: 25px;
        color: #000;
        font-size: 15px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 2rem;
        position: relative;
        z-index: 9;

        &:last-child {
          margin: 0px;
        }
        
        &::after {
          content: '';
          position: absolute;
          border-radius: 5px;
          width: 15px;
          height: 15px;
          background-color: var(--secondary);
          top: 50%;
          right: 0;
          transform: translateY(-50%) rotate(45deg);
          z-index: -1;
        }
      }
    }
  }

  .image-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      animation: translateY 1s linear infinite;
    }
  }
}

.products {
  width: 100%;
  padding: 50px 0px;
  background-color: #f7f7f7;

  &.projects {
    background-color: rgba($color: #f7941d, $alpha: .01);
    position: relative;
    z-index: 99;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background: url('../images/header_pattern.png') top left / contain no-repeat;
      opacity: .2;
    }

    .box {
      background-color: #f7f7f7;
    }
  }

  .box {
    width: 100%;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba($color: #071828, $alpha: 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .4s linear;

    .image-content img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      filter: invert(44%) sepia(6%) saturate(4338%) hue-rotate(170deg) brightness(83%) contrast(95%);
      margin: auto;
    }

    h2 {
      color: var(--primary);
      font-size: 18px;
      font-weight: 900;
      margin-top: 20px;
      text-align: center;
    }

    &:hover {
      transform: translateY(-10px);

      img {
        animation: tada .8s linear;
      }
    }
  }
}

.clients {
  width: 100%;
  padding: 30px 0px;
  background-color: #f7f7f7;

  .item img {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border: 1px solid rgba($color: #000000, $alpha: .1);
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
    transition: all .4s linear;

    &:hover {
      transform: translateY(-10px);
    }
  } 
}

footer {
  width: 100%;
  padding: 50px 0px;
  background: #071828 url('../images/header_pattern.png') top left / contain no-repeat;

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    img {
      width: 120px;
      height: 80px;
      object-fit: contain;
    }

    p {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      line-height: 2.5rem;
      margin: 20px 0px;
      text-align: center;
    }

    .socail-media {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;

      li {
        margin-inline-end: 10px;

        &:last-child {
          margin: 0px !important;
        }

        a {
          width: 40px;
          height: 40px;
          background-color: #fff;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          border-radius: 5px;

          i {
            color: #071828;
            font-size: 20px;
          }
        }
      }
    }

    .links {
      width: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        padding: 0px 10px;
        border-inline-end: 1px solid #fff;
        margin-top: 20px;

        &:last-child {
          border: 0px !important;
        }

        a {
          display: flex;
          align-items: center;
          align-content: center;

          i {
            font-size: 15px;
            color: #f7941d;
            margin-inline-end: 8px;
          }

          span {
            color: #fff;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
  }
}


@import 'media';